.doc-cards-container {
    max-width: 1251px;
    display: flex;
    flex-wrap: wrap;
    max-height: 530px;
    overflow-x: auto;
}

.doc-cards-container::-webkit-scrollbar {
    display: none;
}

.card {
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    align-items: center;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
}