.landing-page {
    background: url('../assets/hero.jpg');
    padding: 300px 300px 400px 300px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    /* border: 1px solid red; */
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    width: 500px;
    font-weight: 700;
    font-size: 300%;
    line-height: 60px;
    padding-bottom: 20px;
    /* color: #fff; */
}

.rating {
    font-weight: 500;
    font-size: 25px;
    /* color: #fff; */
    margin-bottom: 0;
    padding-right: 16px;
}

.stars {
    margin-left: 20px;
    font-size: 30px;
    color: #ffc107;
}

.booking-content {
    position: absolute;
    top: 190px;
    right: 229px;
}

.doctors-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.doctors-modal {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.slider-container {
    position: relative;
    display: flex;
    overflow-x: hidden;
    scrollbar-width: thin;
    white-space: nowrap;
    margin-bottom: 20px;
    transition: transform 0.5s ease;
}

.cardi {
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    transition: transform 0.5s ease;
}

.cardi img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
}

.cardi-content {
    padding: 20px;
    text-align: center;
}

.cardi-content p {
    text-wrap: wrap;
}

.tastimonials-stars {
    color: #ffc107;
}

.navigation-arrows {
    cursor: pointer;
    margin-right: 20px;
}